body {
    font-family: Arial, sans-serif;
    margin: 0; 
    background-color: lightgray;
    background-image: url(WhatsApp\ Image\ 2024-11-10\ at\ 10.36.10\ PM.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: white;
    overflow: hidden; 
    box-shadow: 0 0 10px purple;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0px 30px;  
    margin-bottom: 50px;
    background-image:url("Space Backgrounds Vol_14 Graphic by freezerondigital · Creative Fabrica.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}



.navbar ul {
    list-style-type: none; 
    margin: 0px;
    padding: 2px;
    display: flex; 
    flex-grow: 1; 
    justify-content: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
   
    
}

.navbar li {
    margin: 0 15px; 
}

.navbar li a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 20px 16px; 
    text-decoration: none; 
}

.navbar li a:hover {
    color: lightblue; 
}

.logo {
    height: 90px;
    vertical-align: middle; 
}

.container {
    margin-top: 2px; 
}

.main-div {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: transparent; 
    color: rgb(241, 235, 235);
    padding: 0 50px;
    margin: 155px 0; 
}

.side-image {
    height: 300px; 
    width: auto; 
    border-radius: 10px;
    object-fit: cover;
}

.main-text {
    flex-grow: 1; 
    text-align: center;
}

.main-text h2 {
    margin: 0; 
    color: purple; 
    font-size: 100px;
    font-family: CommercialScript BT;
    font-weight: 500;
}

.main-text p {
    margin: 5px 0 0; 
    color: rgb(12, 12, 12); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    margin-left: 10px;
    margin-right: 10px;
}

.box {
    padding: 20px;
    text-align: center;
    
}
.box img{
    height: 400px;
    width: 300px
}


.horizontal-divs {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
    

}

.box {
    padding: 20px;
    text-align: center;
    flex: 1; 
    margin: 0 10px; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px purple;
    margin-bottom: 100px;
}

.box:first-child {
    margin-left: 0px; 
}

.box:last-child {
    margin-right: 0px; 
}

#heading1{
    font-size: 30px;
    font-family: Cambria;
    text-align:left;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 200px;
    
}

#heading2{
    font-size: 30px;
    font-family: Cambria;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 150px ;
}
#footer {
    height:20vh;
    width:100%;
    background-image:url("Space Backgrounds Vol_14 Graphic by freezerondigital · Creative Fabrica.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding: 2px;
    margin-top: 100px;

}

#footer h2{
       color: white;
       
       
}

#footer p{
    color:white;
}

